<html>
<head>
    <title>Programación Web</title>
    @*<link>_Layout</link>*@
</head>
<body>

    <h1>Actividad #1 Sumar valores</h1>
    <h2>Paso de parámetros</h2>
    <h3>Luis Antonio Aguilar Garza</h3>

    @RenderBody()
    <footer>
        <h5>@DateTime.Now.ToShortDateString()</h5>
    </footer>
</body>
</html>